/* CSS reset */
* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    /*图片最大不能超过容器*/
    max-width: 100%;
    max-height: 100%;
}

/* style */
body {
    /*border: 1px solid red;*/
    background: #EEE;
}

.globalHeader {
    /*border: 1px solid red;*/
    /*居中：上下边距，左右边距各给20像素*/
    /*margin:20px 20px;*/
    margin: 20px;
}

.searchForm {
    /*弹性布局，中间填充空*/
    display: flex;
    justify-content: space-between;
}

.searchForm > input {
    width: 100%;
    margin-right: 10px;
    height: 40px;
    /*input内边距左右各10像素*/
    padding: 0 10px;
    /*input边框重做*/
    border: 1px solid #ddd;
    border-radius: 4px;
}

.searchForm > button {
    white-space: nowrap;
    /*button内边距左右各10像素*/
    padding: 0 28px;
    /*抄figma生成代码*/
    border: none;
    background: #226FE3;
    border-radius: 4px;
    color: white;
    font-size: 16px;
}

.globalMain {

}

.siteList {
    /*border: 1px solid black;*/
    display: flex;
    flex-wrap: wrap;
    /*左右对齐*/
    margin: 20px;
    justify-content: space-between;
}

.siteList > li {
    /*border: 1px solid red;*/
    margin-bottom: 10px;
}

.siteList .site {
    border: 1px solid #ddd;
    width: 160px;
    display: flex;
    justify-content: center;
    /*水平居中*/
    align-items: center;
    /*竖直排列*/
    flex-direction: column;
    background: white;
    border-radius: 4px;
    /*上下内边距20像素*/
    padding: 20px 0;
    position: relative;
}

.siteList .site > .logo {
    /*border: 1px solid red;*/
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    /*logo文字全大写*/
    text-transform: uppercase;
}

.siteList .site > .link {
    font-size: 14px;
    margin-top: 4px;
}

.siteList .site > .close {
   position: absolute;
    right: 10px;
    top: 5px;
}

.siteList .addButton {
    border: 1px solid #ddd;
    background: white;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*上下布局*/
    flex-direction: column;
    /*上下内边距20像素*/
    padding: 20px 0;
}

.siteList .addButton .icon {
    width: 56px;
    height: 56px;
}

.siteList .addButton .text {
    font-size: 14px;
    margin-top: 4px;
}

.siteList .addButton .icon-wrapper {
    /*border: 1px solid red;*/
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}